<a href="https://colab.research.google.com/github/Krithika-Selvam/Machine-Learning/blob/main/full_data_process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('project.csv')
df.head()

In [ ]:
from sklearn.model_selection import train_test_split
x=df[['cs41','cs42','cs43','10th','12th','att','fp/aarnps','travh','netcon','rev']].values
y=df['semgpa'].values
x

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=42)
#normalize bteween 0 and 1
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)
x_train
x_test

In [83]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
model=Sequential()
model.add(Dense(4,activation='relu'))
model.add(Dense(4,activation='relu'))
model.add(Dense(4,activation='relu'))
model.add(Dense(4,activation='relu'))
#model.add(Dense(4,activation='relu'))
#model.add(Dense(4,activation='relu'))
#model.add(Dense(4,activation='relu'))
model.add(Dense(1))
model.compile(optimizer='rmsprop',loss='mse')

In [ ]:
model.fit(x=x_train,y=y_train,epochs=700)#one pass over the dataset

In [ ]:
pd.DataFrame(model.history.history)

In [85]:
model.evaluate(x_test,y_test,verbose=0)

72.1780776977539

In [ ]:
model.evaluate(x_train,y_train,verbose=0)

In [ ]:
test_predictions=model.predict(x_test)
test_predictions

In [ ]:
test_predictions=pd.Series(test_predictions.reshape(32,))
test_predictions

In [90]:
pred_df=pd.DataFrame(y_test,columns=['Prediction Values'])
pred_df=pd.concat([pred_df,test_predictions],axis=1)
pred_df.columns=['test true Y','model predictions']
pred_df

    test true Y  model predictions
0         78.83          77.115540
1         75.00          75.646118
2         87.84          80.851006
3         76.25          79.767479
4         66.50          63.836647
5         54.84          56.982723
6         70.40          70.299553
7         83.75          82.107674
8         65.00          68.567535
9         76.00          77.520821
10        78.92          76.974945
11        75.59          74.820648
12        34.00          46.941750
13        70.00          66.996376
14        97.25          83.081421
15        63.07          55.326885
16        14.67          42.221935
17        61.67          70.000053
18        82.50          77.880829
19        80.80          84.633377
20        75.40          79.202011
21        52.17          64.757469
22        85.42          78.677048
23        62.75          72.763245
24        81.25          78.748528
25        66.00          58.339092
26        70.00          82.762955
27        76.09          76.794922
28        75.60          68.397659
29        67.08          61.805813
30        50.42          65.483711
31        59.63          67.112984

In [91]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
mean_absolute_error(pred_df['test true Y'],pred_df['model predictions'])

6.287794547080994